*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background-grey {
  background-color: rgb(53, 58, 64);
}

.background-darkblue {
  background: rgb(28, 54, 67);
  background: linear-gradient(90deg, rgba(28, 54, 67, 1) 0%, rgba(29, 70, 92, 1) 50%, rgba(29, 82, 113, 1) 100%);
}

.background-img {
  filter: brightness(50%);
}

.background-lima {
  background-color: rgb(150, 201, 62);
  border-radius: 10px;
  outline: none;
  border: none;
}

.btn-white {
  background-color: transparent !important;
  border-color: white;
}

.skills-orador {
  display: flex;
  gap: 0.5rem;
}

.orange-skill {
  color: black;
  background-color: rgb(252, 193, 1);
  padding: 2px 5px;
  border-radius: 5px;
}

.lightblue-skill {
  color: white;
  background-color: rgb(22, 161, 182);
  padding: 2px 5px;
  border-radius: 5px;
}

.grey-skill {
  color: white;
  background-color: rgb(108, 117, 124);
  padding: 2px 5px;
  border-radius: 5px;
}

.red-skill {
  color: white;
  background-color: rgb(220, 55, 71);
  padding: 2px 5px;
  border-radius: 5px;
}

.footer {
  align-items: center;
  gap: 5rem;
}

.content-form-speaker {
  display: flex;
  justify-content: center;
}

.underline {
  text-decoration: underline dotted;
}

.text-area-speaker::placeholder {
  padding: 5px;
  font-size: 25px;
}

.content-conf{
  text-align: left;
}

/* telefono */
@media (max-width: 768px) {
  .card-width{
    margin: 1rem;
  }
  .content-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    top: 10%;
    right: 0;
  }
  .content-img h1{
    margin-bottom: 0;
  }
  .content-conf{
    text-align: center;
  }
  .text-conf{
    width: 100%;
    font-size: 1.3rem;
    margin-bottom: 1px;
  }
  .btn-text-conf{
    height: 2.5rem;
    margin-top: 1rem;
  }
  .buttons-conf{
    display: flex;
  }
  .form-speaker {
    margin: 0 1rem;
  }
  .gap-input{
    gap: 0.5rem;
  }
}
/* tablets */
@media (max-width: 992px) {
}

/* desktops */
@media (min-width: 992px) {
  .navbar-pl{
    padding-left: 8rem;
  }
  .navbar-pr{
    padding-right: 8rem;
  }
  .content-cards {
    display: flex;
  }
  .card-width{
    width: 18rem;
  }
  .text-conf{
    width: 47rem;
    font-size: 1.5rem;
    text-align: right;
  }
  .content-img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 20%;
    right: 10%;
  }
  .form-speaker {
    width: 50%;
  }
  .gap-input{
   gap: 2rem; 
  }
}